<div class="text-[#616161] h-auto w-[90%] mx-auto my-16 overflow-x-hidden">
  <h1 class="text-learnpurple mt-4 mb-12">
    <%= t(".title") %>
  </h1>
  <a class="btn btn-primary btn-small" target="_blank" href="https://learn-student.onrender.com/">Go To Student App</a>
  <p class="my-3">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <hr/>
  <h2 class="text-learnblack text-2xl mt-5">
    Meet the team
  </h2>
  <% contributors = [
    {name: "Charlie Sihaphong", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Golf", linkedin: "https://www.linkedin.com/in/charlie-sihaphong/", github: "https://github.com/Charlie19255", image:"charlie.png"},
    {name: "Immanuel Pettigrew", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Golf", linkedin: "https://www.linkedin.com/in/immanuel-pettigrew-538626258/", github: "https://github.com/Mannyplg", image:"immanuel.jpeg"},
    {name: "Anthony De Jesus Ramirez", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Golf", linkedin: "https://www.linkedin.com/in/anthony-ramirez-b33977240/", github: "https://github.com/Shadow090509", image:"ramirez.png"},
    {name: "Francisco Solis", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Echo", linkedin: "https://www.linkedin.com/in/francisco-solis-02191995/", github: "https://github.com/fpsolis219", image:"francisco.png"},
    {name: "Jason Brown", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Echo", linkedin: "https://www.linkedin.com/in/jason-brown-6b4707b/", github: "https://github.com/jayaries329", image:"jason.png"},
    {name: "Elijah Barreto", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Echo", linkedin: "https://www.linkedin.com/in/elijah-barreto/", github: "https://github.com/ElijahBcodes", image:"elijah.png"},
    {name: "Will Williams", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Delta", linkedin: "https://www.linkedin.com/in/deanna-will-williams/", github: "https://github.com/DFWilliams", image:"will.png"}, 
    {name: "Gene Martinez", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Delta", linkedin: "https://www.linkedin.com/in/gene-martinez/", github: "https://github.com/Genemichael25", image: "gene.png"},
    {name: "Nicole Mares Rivera", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Delta", linkedin: "https://www.linkedin.com/in/nicole-mares-rivera/", github: "https://github.com/nmaresrivera11", image:"nicole.png"},
    {name: "Luis Ramos", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Delta", linkedin: "https://www.linkedin.com/in/luis-ramos1/", github: "https://github.com/ninerboy81", image:"luis.jpg"},
    {name: "Ahmed Al Khafaji", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Delta", linkedin: "https://www.linkedin.com/in/ahmed-alkhafaji/", github: "https://github.com/Ahmedkhafaji", image:"ahmed.png"},
    {name: "Don Yoon", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Charlie", linkedin: "https://www.linkedin.com/in/don-yoon/", github: "https://github.com/don-yoon", image:"don.png"},  
    {name: "Logan Ramos", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Charlie", linkedin: "https://www.linkedin.com/in/loganramos/", github: "https://github.com/Renzlawr", image:"logan.png"},
    {name: "Sarah Proctor", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2018 Delta", linkedin: "https://www.linkedin.com/in/sarah-proctor-sd/", github: "https://github.com/sjproctor", image:"sarah.png"},    
    {name: "Matthew Munoz", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Hotel", linkedin: "https://www.linkedin.com/in/matthew-l-munoz/", github: "https://github.com/MLMunoz85", image:"matt.jpg"},    
    {name: "Chris Lee", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Hotel", linkedin: "https://www.linkedin.com/in/chrisyhlee/", github: "https://github.com/chrisyhlee", image:"chris.jpg"},    
    {name: "Monica Arganda", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Hotel", linkedin: "https://www.linkedin.com/in/monica-arganda/", github: "https://github.com/monicaarganda", image:"monica.jpg"},    
    {name: "Moss Cantrell", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Hotel", linkedin: "https://www.linkedin.com/in/mossc2001/", github: "https://github.com/mosscantrell", image:"moss.jpg"},    
    {name: "Aileen Whitney", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Hotel", linkedin: "https://www.linkedin.com/in/msawhit/", github: "https://github.com/msawhit", image:"sarah.png"},    
    {name: "Torin Jacobs", bio: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", cohort: "2022 Hotel", linkedin: "https://www.linkedin.com/in/torinjacobs/", github: "https://github.com/TorinJacobs", image:"torin.jpg"},    
  ] %>
  <% contributors.map do |contributor| %>
  
  <div class="max-w-sm rounded-md border inline-block mt-5 h-[100%] justify-items-center">
    <div class="flex flex-col items-center p-3">
      <img
        class="h-16 w-16 rounded-full"
        src=<%= asset_path("contributors/#{contributor[:image]}") %>
        alt="Contributor image"
      />
      <h5 class="text-2xl font-bold tracking-tight text-gray-900">
        <%= contributor[:name] %>
      </h5>
      <span class="font-light leading-tight"><%= contributor[:cohort] %></span>
      <p class="flex-wrap font-normal text-gray-700 dark:text-gray-400 text-center">
        "<%= contributor[:bio] %>"
      </p>
    </div>
    <div class="flex flex-col items-center pb-3">
      <div class="flex flex-row">
          <a href=<%= contributor[:github] %> target="_blank">
            <%= render_svg 'github', styles: "fill-current text-gray-600 hover:text-gray-700" %>
          </a>
          <a href= <%= contributor[:linkedin] %> target="_blank">
            <%= render_svg 'linkedin', styles: "fill-current text-gray-600 hover:text-gray-700" %>
          </a>
      </div>
    </div>
  </div>
        
  <% end %>
</div>