<div class="text-[#616161] h-auto w-[90%] mx-auto my-16 overflow-x-hidden">
  <h1 class="text-learnpurple mt-4 mb-12">
    <%= t(".title") %>
  </h1>
  <a 
    class="btn btn-primary btn-small" 
    target="_blank" 
    href="https://learn-student.onrender.com/">Go To Student App
  </a>
  <p class="my-3">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <hr/>
  <h2 class="text-learnblack text-2xl mt-5">
    Meet the team
  </h2>
  <div class="flex flex-row flex-wrap justify-center gap-4">
  <% contributors = 
    [ 
      {
      name: "Jose Salas",
      cohort: "2023 Bravo",
      bio: "Hi, my name is Jose Salas, and I am a father of two amazing kids. I currently live in Beaufort, SC. I started writing code because I wanted to  impress my kids.",
      linkedin: "https://www.linkedin.com/in/joselsalas/",
      github: "https://github.com/salas89jl",
      image: "jose.jpg"

      },
      {
      name: "Eddie Carrion",
      cohort: "2023 Bravo",
      bio: "My name is Eduviges but I also go by Eddie. When I am not working I enjoy getting in a good workout, reading a good book, and spending time with my loved ones.",
      linkedin: "https://www.linkedin.com/in/eduviges-carrion/",
      github: "https://github.com/EddieCarrion",
      image: "eddie.jpg"

      },
      {
      name: "Valeria Casillas",
      cohort: "2023 Bravo",
      bio:"My name is Valeria Casillas. Full Stack Web Developer from Bravo 2023.",
      linkedin: "https://www.linkedin.com/in/valeria-casillas/",
      github: "https://github.com/ValC001",
      image:"valeria.jpg"
      },
      {
        name: "Evelyn Alvarez",
        cohort: "2023 Bravo",
        bio: "In today's world, we use technology in EVERYTHING that we do! I have always had a passion for learning new things, especially for learning more about technology and how everything works behind the scenes. So, what does it take to be a coder? I've found out that I now have the ability to understand and know exactly what a coder does thanks to LEARN. I am super excited to be a part of the process for this project and can't wait to see it all come together.",
        linkedin: "https://linkedin.com/in/evelyn-a-alvarez/",
        github: "https://github.com/Ealvarez01",
        image: "evelyn.jpg"
      },
      {
        name: "Matthew Munoz", 
        bio: "I'm Matthew Munoz, a Software Developer based in San Diego, CA. As a former High School Teacher turned Software Developer, I am passionate about continuous learning, mentoring others, and challenging myself to acquire new skills. I had a lot of fun working on this app and I hope you enjoy it!", 
        cohort: "2022 Hotel", 
        linkedin: "https://www.linkedin.com/in/matthew-l-munoz/", 
        github: "https://github.com/MLMunoz85", 
        image: "matt.jpg"
      },    
      {
        name: "Chris Lee", 
        bio: "Another day another blocker. But it's okay, eventually we will know what we are doing. Thanks for listening to my tech talk.", 
        cohort: "2022 Hotel", 
        linkedin: "https://www.linkedin.com/in/chrisyhlee/", 
        github: "https://github.com/chrisyhlee", 
        image: "chris.jpg"
      },    
      {
        name: "Monica Arganda",
        bio: "Hey there I'm Monica, a Full Stack Web Developer. By the time you are reading this I have graduated from Learn Academy, where I gained experience building various web applications. I find the design aspect of web development to be enjoyable and take pride in creating visually appealing user interfaces. Collaborating with the other Interns on this project was one of the highlights of my time at LEARN, we hope you enjoy.",
        cohort: "2022 Hotel",
        linkedin: "https://www.linkedin.com/in/monica-arganda/",
        github: "https://github.com/monicaarganda",
        image: "monica.jpg"
      },    
      {
        name: "Moss Cantrell",
        bio: "Hi, I'm Moss! I'm a full stack web developer with a passion for web accessibility and finding creative solutions to complex problems. I love tackling challenging projects that make a positive impact on people's lives, and have had a blast working on this app!", 
        cohort: "2022 Hotel",
        linkedin: "https://www.linkedin.com/in/mossc2001/",
        github: "https://github.com/mosscantrell",
        image: "moss.jpg"
      },    
      {
        name: "Aileen Whitney",
        bio: "Hello! I'm a former elementary and Montessori teacher who has always had a passion for helping others learn and grow. I've recently made the exciting transition to the field of web development. As a LEARN intern, I have really enjoyed working on this project with my fellow Hotel cohort mates. I hope you find it useful.",
        cohort: "2022 Hotel",
        linkedin: "https://www.linkedin.com/in/msawhit/",
        github: "https://github.com/msawhit",
        image: "aileen.jpeg"
      },    
      {
        name: "Torin Jacobs",
        bio: "I love learning and I love LEARN Academy! Connect with me to code up some wild ideas that may just make this world a better place! Oh, and if you need someone to talk your ear off about Alaska, I'm your guy.",
        cohort: "2022 Hotel",
        linkedin: "https://www.linkedin.com/in/torinjacobs/",
        github: "https://github.com/TorinJacobs",
        image: "torin.jpg"
      },
      {
        name: "Charlie Sihaphong",
        bio: "Hello, I'm Charlie Sihaphong. I am a junior full-stack web and software developer in a remote position. For the past six years, I have been active duty military with the US Navy as a nuclear electronics technician and a damage control man. From my military service I developed a great sense of self worth and discipline that I have taken into software development for gaming.",
        cohort: "2022 Golf",
        linkedin: "https://www.linkedin.com/in/charlie-sihaphong/",
        github: "https://github.com/Charlie19255",
        image: "charlie.png"
      },
      {
        name: "Immanuel Pettigrew",
        bio: "Hi I am Immanuel, I am all gas with no brakes, always moving and never stopping.",
        cohort: "2022 Golf",
        linkedin: "https://www.linkedin.com/in/immanuel-pettigrew-538626258/",
        github: "https://github.com/Mannyplg",
        image: "immanuel.jpeg"
      },
      {
        name: "Anthony De Jesus Ramirez",
        bio: " I am passionate about consistently advancing my knowledge and skills.
        I would consider myself a "nerd" when it comes to puzzles. You could say, this trait helps me when it comes to problem solving and trouble shooting. As a Marine Corps Veteran, I can work well being part of a team of other people with a shared goal.",
        cohort: "2022 Golf",
        linkedin: "https://www.linkedin.com/in/anthony-ramirez-b33977240/",
        github: "https://github.com/Shadow090509",
        image: "ramirez.png"
      },
      {
        name: "Francisco Solis",
        bio: "A veteran with heavy equipment experience and now full stack web developer. Graduated from LEARN ACADEMY with newly acquired skills in writing different coding languages such as Javascript, HTML ,CSS (tailwind) and Ruby. Can utilize them with frameworks such as ReactJS and Ruby on Rails to create applications and understanding of databases such as PostgreSQL and SQL.",
        cohort: "2022 Echo",
        linkedin: "https://www.linkedin.com/in/francisco-solis-02191995/",
        github: "https://github.com/fpsolis219",
        image: "francisco.png"
      },
      {
       name: "Nathaniel Ross-Loyo",
       cohort: "2022 Foxtrot",
       bio: "Full-stack web developer and recent graduate from LEARN academy. Engaged in over 480 hours of coding practice with hands-on experience, creating full-stack web applications using JavaScript, Ruby on Rails, React and more. I'm transitioning from working a retail grocery store job for the last decade into this new path of working in the tech industry, and so far the journey has been very enjoyable. My past work experience had me working with a small team to complete a large task everyday, which has helped me with teamwork as well as project management as I've often taken the lead on the day's task.",
      linkedin: "https://www.linkedin.com/in/nathaniel-rossloyo/",
      github: "https://github.com/nathaniel-ross",
      image: "nate.png"
      },
      {  name: "Kyle Le",
      cohort: "2022 Foxtrot",
      bio: "Full Stack Web Developer and Restaurant Owner, with strong analytical and communication skills. Dedicated to discovering, developing, and implementing creative solutions to complex web application challenges. Extensive background in problem solving, and collaboration.",
      linkedin: "https://www.linkedin.com/in/kyletle/",
      github: "https://github.com/letkyle",
      image: "kyle.png"}
      {
        name: "Jason Brown",
        bio: "Hi, I am Jason Brown, a Full Stack Developer at LEARN. It's been fun, real fun.",
        cohort: "2022 Echo",
        linkedin: "https://www.linkedin.com/in/jason-brown-6b4707b/",
        github: "https://github.com/jayaries329",
        image: "jason.png"
      },
      {  
      name: "Christian Macias",
      cohort: "2022 Foxtrot",
      bio: "Hello! My name is Christian, I am a Full-Stack Developer that has served as a Cavalry Scout in the US Army. I am hungry to gain so much more knowledge and enhance my skills even further. I can't wait to begin working with a company that is exciting, innovative, and is making a positive impact for the future.",
      linkedin: "https://www.linkedin.com/in/christianmacias91/",
      github: "https://github.com/cmacias56",
      image: "christian.png"
      },
      {
      name: "Athian Camberos",
      cohort: "2022 Foxtrot",
      bio: "As a highly motivated and determined Full Stack Web Developer, I am able to work in front and back end developing. I have experience in using database managing programming language and have experience in making multiple websites with stand alone languages as well as frameworks that give websites more functionality. I enjoy working as a team but I am capable of working alone if necessary. Loves cats and dogs, as well as hiking, swimming, and kayaking when possible.",
      linkedin: "https://www.linkedin.com/in/athian-camberos-41a91b241/",
      github: "https://github.com/acamberos1",
      image: "athian.png"
      }
      {
        name: "Elijah Barreto",
        bio: "A little bit about me, I just need a cup of coffee to start my day. For fun I like to run trails and ultras.",
        cohort: "2022 Echo",
        linkedin: "https://www.linkedin.com/in/elijah-barreto/",
        github: "https://github.com/ElijahBcodes",
        image: "elijah.png"
      },
      {
        name: "Will Williams",
        bio: "Hey there! My name is Will and I am a true lover of learning - or as some might say, a 'philomath'. As a full-stack web developer just starting out in the tech world, I am constantly drawn to new and exciting challenges. I relish the opportunity to learn something new and then put my knowledge to work creating something amazing. I am a problem-solver at heart, a team player, and a strong communicator. I am confident that my passion for learning and growing would make me a valuable asset to any company.",
        cohort: "2022 Delta",
        linkedin: "https://www.linkedin.com/in/deanna-will-williams/",
        github: "https://github.com/DFWilliams",
        image: "will.png"
      }, 
      {
        name: "Gene Martinez",
        bio: "Hey! I'm Gene, an Army veteran and now a full stack web developer. While earning my Associate's degree in Business, I recognized my love for learning, problem solving and helping others. And now I have found something that allows me to do all those things and more. When I am not on the computer trying new things, you might find me with a tool in my hand. I love working with my hands and building or updating a portion of the home. Or perhaps I am at a sporting event, cheering on my favorite teams.",
        cohort: "2022 Delta",
        linkedin: "https://www.linkedin.com/in/gene-martinez/",
        github: "https://github.com/Genemichael25",
        image: "gene.png"
      },
      {
        name: "Nicole Mares Rivera",
        bio: "A year ago, I was separating from the US Navy and trying to find my niche in this new journey I was starting as a civilian again. The LEARN community took me into it's arms and has since shown me what being valued, appreciated, and fully supported really feels like. The amount of personal and professional growth that has been cultivated in this environment leaves me at a loss for words. This has only been the beginning and I can only imagine the path that lies ahead for me.",
        cohort: "2022 Delta",
        linkedin: "https://www.linkedin.com/in/nicole-mares-rivera/",
        github: "https://github.com/nmaresrivera11",
        image: "nicole.png"
      },
      {
        name: "Luis Ramos",
        bio: "A little bit about me, I just need a cup of coffee to start my day. For fun I like to run trails and ultras.",
        cohort: "2022 Delta",
        linkedin: "https://www.linkedin.com/in/luis-ramos1/",
        github: "https://github.com/ninerboy81",
        image: "luis.jpg"
      },
      {
        name: "Ahmed Al Khafaji",
        bio: "Hi, I am Ahmed and here at LEARN Academy were are exposed to different concepts in software development on the daily.",
        cohort: "2022 Delta",
        linkedin: "https://www.linkedin.com/in/ahmed-alkhafaji/",
        github: "https://github.com/Ahmedkhafaji",
        image: "ahmed.png"
      },
      {
        name: "Don Yoon",
        bio: "Full-stack web developer with a strong desire to continue learning. Acquired tools at LEARN academy required for full-stack development such as JS, Ruby, HTML, and CSS with a proven background in mentorship, management, and project planning while working as an educator.",
        cohort: "2022 Charlie",
        linkedin: "https://www.linkedin.com/in/don-yoon/",
        github: "https://github.com/don-yoon",
        image: "don.png"
      },  
      {
        name: "Logan Ramos",
        bio: "Hi there I'm Logan. I'm always discovering more about my passion in software development and love expressing my creativity through code while refining the way I approach problems. I enjoy learning in fast paced agile environments where I feel everything I contribute is useful in some way. I enjoy working with a team or a partner as I'd like to hear different approaches and points of view so I can improve my knowledge and understanding of coding concepts. I'd love to learn new languages, frameworks, libraries, etc. and be supported in the process.",
        cohort: "2022 Charlie",
        linkedin: "https://www.linkedin.com/in/loganramos/",
        github: "https://github.com/Renzlawr",
        image: "logan.png"
      },
      {
        name: "Sarah Proctor",
        bio: "Sarah is passionate about creating a welcoming, inclusive learning space for people making the transition into a career in technology. She strives to inspire students to step outside their comfort zones and embrace personal growth along with learning the fundamentals of development.",
        cohort: "2018 Delta",
        linkedin: "https://www.linkedin.com/in/sarah-proctor-sd/",
        github: "https://github.com/sjproctor",
        image: "sarah.png"
      } ,
        {
    name: "Ronnie Maynard",
    bio: "I am a full stack web developer, an Army veteran in blue-collar work. Tech has always been my passion, and being a student at LEARN and an intern for LEARN, helping develop this application, has allowed me to explore that passion and fully immerse myself in the world of tech.",
    cohort: "2023 Alpha",
    linkedin: "https://www.linkedin.com/in/ronnie-maynard-455w/",
    github: "https://github.com/Ronnie455",
    image: "ronnie.png"
  } ,
   {
    name: "Leopoldo F Cuero",
    bio: "My name is Leopoldo F. Cuero, I am from Cali, Colombia. I served for 2 decades in the U.S. Government in multiple roles, I consider myself an unwritten code with a code in mine The more I LEARN the more I realize I need to LEARN more.",
    cohort: "2023 Alpha",
    linkedin: "https://www.linkedin.com/in/leopoldo-cuero-0650a8202/",
    github: "https://github.com/Melaza6",
    image: "leocuero.jpg"
  } ,
   {
    name: "Manny Flores",
    bio: "I'm Manny Flores, a veteran and currently a full stack web developer. As a recent graduate of a coding bootcamp I am eager to bring my newly acquired skills toward a challenging and rewarding role as a full stack web developer.",
    cohort: "2023 Alpha",
    linkedin: "https://www.linkedin.com/in/manny-flores-0816894b/",
    github: "https://github.com/Manflo27",
    image: "manny.jpg"
  } ,
   {
    name: "Xavier Barker",
    bio: "My name is Xavier Barker, and I'm a Full Stack Developer who knows various computer languages. I'm currently interning at LEARN academy in sunny San Diego, California, and I'm always striving to be the best software programmer I can be!ðŸ’» I'm super interested in all things technology, software, and video game development, and how it impacts our world and society. It's crazy to think about how everything we use these days, from our phones to our microwaves, is powered by software in some form, and I just can't get enough of it.Fun fact about me - I used to be a Hospital Corpsman in the USN and am currently an active Martial Arts instructor. Those experiences have taught me a lot about being patient with myself and others when working on objectives and having a keen attention to detail. I think those same skills and attitudes serve me well in the coding environment.ðŸ¥‹ When I'm not buried in code or working on a new project, you can find me doing some of my favorite things. I love listening to music ðŸŽ§, watching anime ðŸ¿, and participating in Martial Arts. I've been practicing Martial Arts since I was seven and have spent the last nine years competing and coaching. So that's a little about me! I'm always learning ðŸ“š, and I'm excited to connect with you.",
    cohort: "2023 Alpha",
    linkedin: "https://www.linkedin.com/in/xavier-barker183/",
    github: "https://github.com/XavierB91",
    image: "xavier.jpg"
  } 
]
  %>
  
  <% def sort_contributors(member) %>
  <% member.sort! { |a, b| [b[:cohort], a[:name].split(" ")[1]] <=> [a[:cohort], b[:name].split(" ")[1]] } %>
<% end %>


<%  sorted_contributors = sort_contributors(contributors) %>

  <% sorted_contributors.map do |contributor| %>
  
  <div class="max-w-sm rounded-md border inline-block mt-5 justify-items-center">
    <div class="flex flex-col items-center p-3">
      <img
        class="h-16 w-16 rounded-full"
        src=<%= asset_path("contributors/#{contributor[:image]}") %>
        alt="Contributor image"
      />
      <h5 class="text-2xl font-bold tracking-tight text-gray-900">
        <%= contributor[:name] %>
      </h5>
      <span class="font-light leading-tight">
        <%= contributor[:cohort] %>
      </span>
      <p 
        class="flex-wrap h-32 mt-4 px-2 font-normal text-gray-700 dark:text-gray-400 text-center"
        style="overflow: auto">
        "<%= contributor[:bio] %>"
      </p>
    </div>
    <div class="flex flex-col items-center pb-3">
      <div class="flex flex-row">
          <a href=<%= contributor[:github] %> target="_blank">
            <%= render_svg 'github', styles: "fill-current text-gray-600 hover:text-gray-700" %>
          </a>
          <a href= <%= contributor[:linkedin] %> target="_blank">
            <%= render_svg 'linkedin', styles: "fill-current text-gray-600 hover:text-gray-700" %>
          </a>
      </div>
    </div>
  </div>
        
  <% end %>
  </div>
</div>